*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  transition: all 0.5;
}

nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 50px 10px 10px 10px;
  width: 375px;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #3C3A39;
}

nav a{
  text-decoration: none;
  color: #FFFFFF;
  width: 77px;
  height: 24px;
  padding-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

nav i{
  color: #FFFFFF;
  padding-top: 12px;
}

nav a:hover{
  border-bottom: 2px solid rgb(28, 28, 228);
}

nav i:hover{
  border-bottom: 2px solid rgb(28, 28, 228);
}

header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background-image: url(Images/illustration-header-mobile.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 0px;
  top: 92px;
  background: #1C1A19;
}

header h1{
  width: 327px;
  height: 124px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #FF6B00;
}

header h2{
  width: 327px;
  height: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFF5E1;
}

header p{
  width: 327px;
  height: 123px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

header div img{
  width: 200px;
  height: 40px;
}
